<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzBx2PQyW5cCm5G3_iV4SOTuiKDYI-OEs</string>
	<key>GCM_SENDER_ID</key>
	<string>1028893795079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.laporBook</string>
	<key>PROJECT_ID</key>
	<string>laporbook-2aa20</string>
	<key>STORAGE_BUCKET</key>
	<string>laporbook-2aa20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028893795079:ios:144cbbd0747e5d702e5ba2</string>
</dict>
</plist>